{% extends 'base.html' %}
{% load staticfiles %}
{% block main %}
{#  图书信息维护  #}

{#    {{ book }}#}
    {% for bo in book %}
    <form action="/book/book_maintain/{{ bo.book_id }}" method="post">
    {% csrf_token %}
    <div style="border: 5px solid brown; border-radius: 30px;margin: 100px 30% 0 25%">
<table style="margin: 30px auto 0;">

    {% for bo in book %}
    <tr style="height: 32px;font-size: 20px;">
        <td>&emsp;书号：&emsp;&emsp;&emsp;<input type="text" name="book_id" value="{{ bo.book_id }}"></td>
        <td>&emsp;&emsp;书名：&emsp;&emsp;&emsp;<input type="text" name="book_name" value="{{ bo.book_name }}"></td>
    </tr>
    {% endfor %}

    {% for bo in book %}
    <tr style="height: 32px;font-size: 20px;">
        <td>&emsp;作者：&emsp;&emsp;&emsp;<input type="text" name="book_author" value="{{ bo.book_author }}"></td>
        <td>&emsp;&emsp;种类：&emsp;&emsp;&emsp;<input type="text" name="book_category" value="{{ bo.book_category }}"></td>
    </tr>
    {% endfor %}

    {% for bo in book %}
    <tr style="height: 32px;font-size: 20px;">
        <td>&emsp;出版社：&emsp;&emsp;<input type="text" name="book_pub" value="{{ bo.book_pub }}"></td>
        <td>&emsp;&emsp;登记员：&emsp;&emsp;<input type="text" name="book_operator" value="{{ bo.book_operator }}"></td>
    </tr>
    {% endfor %}

    {% for bo in book %}
    <tr style="height: 32px;font-size: 20px;">
        <td>&emsp;单价：&emsp;&emsp;&emsp;<input type="text" name="book_price" value="{{ bo.book_price }}"></td>
        <td>&emsp;&emsp;总数量：&emsp;&emsp;<input type="text" name="book_put_num" value="{{ bo.book_put_num }}"></td>
    </tr>
    {% endfor %}
</table>
<br>
        <table style="margin: 0 auto 40px">
            <tr><td><input type="submit" value="修改" ></td></tr>
        </table>
</div>


{#        <br><br><br>#}
{#        <table aline="center" border="1" cellpadding="9" cellspacing="0" width="800" style="margin: 0 auto;">#}
{#            <tr>#}
{#                <td>书号</td>#}
{#                <td>书名</td>#}
{#                <td>作者</td>#}
{#                <td>种类</td>#}
{#            </tr>#}
{#        {% for bo in book %}#}
{#            <tr>#}
{#                <td><input type="text" name="book_id" value="{{ bo.book_id }}"></td>#}
{#                <td><input type="text" name="book_name" value="{{ bo.book_name }}"></td>#}
{#                <td><input type="text" name="book_author" value="{{ bo.book_author }}"></td>#}
{#                <td><input type="text" name="book_category" value="{{ bo.book_category }}"></td>#}
{##}
{#            </tr>#}
{#        {% endfor %}#}
{#            <tr>#}
{#                <td>出版社</td>#}
{#                <td>登记员</td>#}
{#                <td>单价</td>#}
{#                <td>总数量</td>#}
{#            </tr>#}
{#        {% for bo in book %}#}
{#            <tr>#}
{#                <td><input type="text" name="book_pub" value="{{ bo.book_pub }}"></td>#}
{#                <td><input type="text" name="book_operator" value="{{ bo.book_operator }}"></td>#}
{#                <td><input type="text" name="book_price" value="{{ bo.book_price }}"></td>#}
{#                <td><input type="text" name="book_put_num" value="{{ bo.book_put_num }}"></td>#}
{##}
{#            </tr>#}
{#        {% endfor %}#}
{#        </table>#}
{#        <table style="margin: 0 auto;">#}
{#            <tr><td><input type="submit" value="修改" ></td></tr>#}
{#        </table>#}
    </form>
    {% endfor %}
{% endblock %}