{% extends 'base.html' %}



{% block main %}
<form action="/maintenance/change/{{ code }}/{{ name }}/1" method="post">
{% csrf_token %}

<table align="center" width="700px" style="text-align: center;" border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td>专业代码</td>
        <td>专业名称</td>

        <td colspan="2">用户操作</td>
    </tr>
    <tr>
        <td><input type="text" name="code" value="{{ code }}"></td>
        <td><input type="text" name="name" value="{{ name }}"></td>
        <td><input type="reset" value="重置"></td>
        <td><input type="submit" value="提交"></td>
    </tr>
</table>
</form>
{% endblock %}