{% extends 'base.html' %}



{% block main %}


<table align="center" width="700px" style="text-align: center;" border="1" cellspacing="0" cellpadding="0">
    <tr>
        <td>学科代码</td>
        <td>学科名称</td>
        <td colspan="2">用户操作</td>
    </tr>
    {% for m in courses %}
    <tr>
        <td>{{ m.cour_id }}</td>
        <td>{{ m.cour_name }}</td>
        <td><a href="/maintenance/change3/{{ m.cour_id  }}/{{ m.cour_name }}/1"><button >修改</button></a></td>
        <td><a href="/maintenance/change3/{{ m.cour_id  }}/{{ m.cour_name }}/2"><button >删除</button></a></td>
    </tr>
    {% endfor %}
</table>

{% endblock %}