{% load staticfiles %}
{#<ul class="breadcrumb">#}
{#    <li>#}
{#        <i class="ace-icon fa fa-home home-icon"></i>#}
{#        <a href="/login/index/">管理系统首页</a>#}
{#    </li>#}
{#</ul><!-- /.breadcrumb -->#}
{##}
{#<!-- #section:basics/content.searchbox -->#}
{#<div class="nav-search" id="nav-search">#}
{#    <form class="form-search">#}
{#        <span class="input-icon">#}
{#            <input type="text" placeholder="请输入关键字 ..." class="nav-search-input" id="nav-search-input" autocomplete="off">#}
{#            <i class="ace-icon fa fa-search nav-search-icon"></i>#}
{#        </span>#}
{#    </form>#}
{#</div><!-- /.nav-search -->#}
<div class="Hui-tabNav hidden-xs" id="Hui-tabNav">
		<div class="Hui-tabNav-wp">
			<ul class="breadcrumb" id="min_title_list" style="left: 0px; width: 241px;">
				<li>
					<i class="ace-icon fa fa-home home-icon"></i>
                    <a href="/login/index/">管理系统首页</a>
					<em></em></li>
		</ul>
	</div>
		<div class="Hui-tabNav-more btn-group" style="display: none;"><a class="btn radius btn-default size-S" id="js-tabNav-prev" href="javascript:;"><i class="Hui-iconfont"></i></a><a class="btn radius btn-default size-S" id="js-tabNav-next" href="javascript:;"><i class="Hui-iconfont"></i></a></div>
</div>