{% extends 'base.html' %}


{% block main %}
    <form action="/archive/teacher/" method="post">
        {% csrf_token %}
        <div style="border: 5px solid brown; border-radius: 20px;margin: 80px 20% 0 20%;">
        <table align="center" width="700px" style="margin-top: 15px; ">
            <caption><h2>教师信息注册</h2></caption>
            <tr style="height: 50px">
                <td><label for="na">教师姓名</label></td>
                <td><input type="text" name="name" id="na" value="{{ teacher.tea_name }}"></td>
                <td><label for="id">教师编号</label></td>
                <td><input type="text" name="id" id="id" value="{{ teacher.tea_id }}"></td>
            </tr>
            <tr style="height: 50px">
                <td><label for="ge">性&emsp;别</label></td>
                {% if teacher.te_gender == '男' %}
                <td>
                    <input name="gender" type="radio" id="ge" checked="checked" value="男"/>男
                    <input name="gender" id="ge" type="radio" value="女"/>女
                </td>
                {% else %}
                <td>
                    <input name="gender" type="radio" id="ge"  value="男"/>男
                    <input name="gender" id="ge" type="radio" checked="checked" value="女"/>女
                </td>
                {% endif %}
                <td><label for="mar">婚&emsp;否</label></td>
                {% if teacher.tea_marry == '未婚' %}
                <td>
                    <input name="marry" type="radio" id="mar" checked="checked" value="未婚"/>未婚
                    <input name="marry" id="mar" type="radio" value="已婚"/>已婚
                </td>
                {% else %}
                <td>
                    <input name="marry" type="radio" id="mar"  value="未婚"/>未婚
                    <input name="marry" id="mar" type="radio"  checked="checked" value="已婚"/>已婚
                </td>
                {% endif %}
            </tr>
            <tr style="height: 50px">
                <td><label for="sf">身份证号</label></td>
                <td><input type="text" name="id_num" id="sf" value="{{ teacher.tea_id_num }}"></td>
                <td><label for="bir">出生日期</label></td>
                <td><input type="date" name="birth" id="bir" value="{{ teacher.tea_birth|date:'Y-m-d'}}"></td>
            </tr>
            <tr style="height: 50px">
                <td><label for="poli">政治面貌</label></td>
                <td><input type="text" name="political" id="poli" value="{{ teacher.tea_political }}"></td>
                <td><label for="nat">民&emsp;族</label></td>
                <td><input type="text" name="nation" id="nat" value="{{ teacher.tea_natioin }}"></td>
            </tr>
            <tr style="height: 50px">
                <td><label for="edu">学&emsp;历</label></td>
                <td><input type="text" name="edu" id="edu" value="{{ teacher.tea_edu }}"></td>
                <td><label for="ag">年&emsp;龄</label></td>
                <td><input type="text" name="age" id="ag" value="{{ teacher.tea_age }}"></td>
            </tr>
           <tr style="height: 50px">
                <td><label for="wo">工作日期</label></td>
                <td><input type="date" name="work_date" id="wo" value="{{ teacher.tea_work_date|date:'Y-m-d'}}"></td>
                <td><label for="pho">联系电话</label></td>
                <td><input type="text" name="phone" id="pho" value="{{ teacher.tea_phone }}"></td>
            </tr>
            <tr style="height: 50px">
                <td><label for="maj">授课专业</label></td>
                <td>
                    <select name="major" id="maj">
                        <option value="{{ teacher.major.maj_name }}">-&emsp;{{ teacher.major.maj_name }}&emsp;-</option>
                        {% for major in majors %}
                            {% if teacher.major.maj_name != major.maj_name %}
                            <option value="{{ major.maj_name }}">-&emsp;{{ major.maj_name }}&emsp;-</option>
                            {% endif %}
                        {% endfor %}
                    </select>
                </td>
                <td><input type="submit" value="修改" style="margin-right: 3px" name="submit"></td>
                <td><input type="submit" value="重置"  style="margin-right: 3px" name="submit"></td>
            </tr>
        </table>

        <table align="center" width="700px" style="height: 50px;margin-bottom: 20px;">
            <tr>
                <td><label for="in">个人简介</label></td>
{#                <td ><input type="text" name="intro" id="in"></td>#}
               <td><textarea id="intro" name="intro" cols="30" >{{ teacher.tea_intro }}</textarea></td>
                <td width="240px"></td>
            </tr>
        </table>
        </div>
    </form>
{% endblock %}